header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.app-nav {
  height: 50px;
}
.app-nav ul {
  height: 100%;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: right;
}
.app-nav ul li {
  display: inline-block;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
}
.app-nav ul li a {
  color: black;
  padding: 18px 0 18px 40px;
}
.app-nav ul li a:hover, .app-nav ul li a:active {
  color: black;
}
.app-nav ul li .btn-spacing {
  margin-left: 18px;
}

/*# sourceMappingURL=Header.css.map */
