<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Polls auth</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/assets/images/icons/favicon.ico"
          th:href="@{/assets/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/fonts/iconic/css/material-design-iconic-font.min.css"
          th:href="@{/assets/fonts/iconic/css/material-design-iconic-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/vendor/animate/animate.css"
          th:href="@{/assets/vendor/animate/animate.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/css-hamburgers/hamburgers.min.css"
          th:href="@{/assets/vendor/css-hamburgers/hamburgers.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/animsition/css/animsition.min.css"
          th:href="@{/assets/vendor/animsition/css/animsition.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/vendor/select2/select2.min.css"
          th:href="@{/assets/vendor/select2/select2.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/daterangepicker/daterangepicker.css"
          th:href="@{/assets/vendor/daterangepicker/daterangepicker.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/util.css"
          th:href="@{/assets/css/util.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/main.css"
          th:href="@{/assets/css/main.css}"/>
    <!--===============================================================================================-->
</head>
<body>
<div class="limiter" style="max-height: 500px !important;">
    <div id="login" class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-20">
            <form class="login100-form validate-form login" method="post" action="/auth/login">
					<span class="login100-form-title p-b-50">
						Prijava
					</span>

                <div>
                    <img src="../static/assets/images/FER_logo_gobos.svg"
                         th:src="@{/assets/images/FER_logo_gobos.svg}" alt="AVATAR" style="height: 150px; display: block; margin: auto"/>
                </div>

                <div class="wrap-input100 validate-input m-t-50 m-b-35"
                     data-validate="Unesite korisničko ime">
                    <input class="input100 input-login" type="text" name="username"/>
                    <span class="focus-input100" data-placeholder="Korisničko ime"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Unesite lozinku">
                    <input class="input100 input-login" type="password" name="password"/>
                    <span class="focus-input100" data-placeholder="Lozinka"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Prijavi se
                    </button>
                </div>

                <ul class="login-more p-t-40">
                    <li class="m-b-8">
							<span class="txt1">
								Zaboravili ste korisničko ime ili lozinku? Zatražite nove podatke
							</span>

                        <a href="#" onclick="toggleResetForm()" class="txt2">
                            ovdje.
                        </a>
                    </li>

                    <li>
							<span class="txt1">
								Nemate račun?
							</span>

                        <a href="#" onclick="toggleRegistrationForm()" class="txt2">
                            Registrirajte se besplatno!
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div id="register" class="container-login100" style="display: none">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form register" method="post" action="/auth/register">
					<span class="login100-form-title p-b-70">
						Registracija
					</span>

                <div class="wrap-input100 validate-input m-b-35"
                     data-validate="Korisničko ime je zauzeto.">
                    <input class="input100 input-register" type="text" id="registration-username" name="username"/>
                    <span class="focus-input100" data-placeholder="Korisničko ime"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-35"
                     data-validate="Unesite ime">
                    <input class="input100 input-register" type="text" name="firstName"/>
                    <span class="focus-input100" data-placeholder="Ime"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-35"
                     data-validate="Unesite prezime ime">
                    <input class="input100 input-register" type="text" name="lastName"/>
                    <span class="focus-input100" data-placeholder="Prezime"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-35"
                     data-validate="Unesite ispravnu mail adresu">
                    <input class="input100 input-register" type="email" name="email"/>
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-35" data-validate="Unesite lozinku">
                    <input class="input100 input-register" type="password" id="registration-password" name="password"/>
                    <span class="focus-input100" data-placeholder="Lozinka"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50"
                     data-validate="Lozinke se ne podudaraju">
                    <input class="input100 input-register" type="password" name="password-confirm"/>
                    <span class="focus-input100" data-placeholder="Potvrdite lozinku"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Registriraj se
                    </button>
                </div>

                <ul class="login-more p-t-100">
                    <li class="m-b-8">
							<span class="txt1">
								Imate račun? Prijavite se
							</span>

                        <a href="#" onclick="toggleLoginForm()" class="txt2">
                            ovdje.
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div id="reset-password" class="container-login100" style="display: none">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form reset" method="post" action="/auth/users/reset">
					<span class="login100-form-title p-b-70">
						Zatraži novu lozinku
					</span>

                <div class="wrap-input100 validate-input m-b-35"
                     data-validate="Korisničko ime ne postoji.">
                    <input class="input100 input-reset" type="text" id="reset-username" name="username"/>
                    <span class="focus-input100" data-placeholder="Korisničko ime"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Resetiraj lozinku
                    </button>
                </div>

                <ul class="login-more p-t-100">
                    <li class="m-b-8">
							<span class="txt1">
								Imate račun? Prijavite se
							</span>

                        <a href="#" onclick="toggleLoginForm()" class="txt2">
                            ovdje.
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>

</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="../static/assets/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/assets/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/animsition/js/animsition.min.js"
        th:src="@{/assets/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/bootstrap/js/popper.js"
        th:src="@{/assets/vendor/bootstrap/js/popper.js}"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/select2/select2.min.js"
        th:src="@{/assets/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/daterangepicker/moment.min.js"
        th:src="@{/assets/vendor/daterangepicker/moment.min.js}"></script>
<script src="../static/assets/vendor/daterangepicker/daterangepicker.js"
        th:src="@{/assets/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/countdowntime/countdowntime.js"
        th:src="@{/assets/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

<script>
  const loginDiv = $('#login');
  const registrationDiv = $('#register');
  const resetPassDiv = $('#reset-password');

  function toggleRegistrationForm() {
    invalidateForm();
    loginDiv.fadeOut(200, () => {
      registrationDiv.fadeIn(200)
    });
  }

  function toggleLoginForm() {
    invalidateForm();
    if(registrationDiv.is(":visible")) {
      registrationDiv.fadeOut(200, () => {
        loginDiv.fadeIn(200)
      });
    } else {
      resetPassDiv.fadeOut(200, () => {
        loginDiv.fadeIn(200)
      });
    }
  }

  function toggleResetForm() {
    invalidateForm();
    loginDiv.fadeOut(200, () => {
      resetPassDiv.fadeIn(200)
    });
  }
</script>

</body>
</html>
