<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<h3>You are invited to join Polly community!</h3>
<p>You initial username is <span th:text="${username}"></span>! Remember it, you will use it to log in and identify
    among other users.</p>
<p>Please follow this link to set the initial password. <a th:href="${resetLink}" th:text="${resetLink}"></a></p>
<p>Keep in mind that you cannot start using application before you set your password.</p>
</body>
</html>