<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Polls auth</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/assets/images/icons/favicon.ico"
          th:href="@{/assets/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/fonts/iconic/css/material-design-iconic-font.min.css"
          th:href="@{/assets/fonts/iconic/css/material-design-iconic-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/vendor/animate/animate.css"
          th:href="@{/assets/vendor/animate/animate.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/css-hamburgers/hamburgers.min.css"
          th:href="@{/assets/vendor/css-hamburgers/hamburgers.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/animsition/css/animsition.min.css"
          th:href="@{/assets/vendor/animsition/css/animsition.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/vendor/select2/select2.min.css"
          th:href="@{/assets/vendor/select2/select2.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="../static/assets/vendor/daterangepicker/daterangepicker.css"
          th:href="@{/assets/vendor/daterangepicker/daterangepicker.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/util.css"
          th:href="@{/assets/css/util.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/main.css"
          th:href="@{/assets/css/main.css}"/>
    <!--===============================================================================================-->
</head>
<body>
<div class="limiter" style="max-height: 500px !important;">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form id="reset-password-form" class="login100-form validate-form input-reset" method="post"
                  action="/auth/users/reset">
					<span class="login100-form-title p-b-70">
						Resetiraj lozinku
					</span>

                <div class="wrap-input100 validate-input m-b-35" data-validate="Unesite lozinku">
                    <input class="input100 input-reset-pass" type="password" id="reset-password" name="password"/>
                    <span class="focus-input100" data-placeholder="Lozinka"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50"
                     data-validate="Lozinke se ne podudaraju">
                    <input class="input100 input-reset-pass" type="password" name="password-confirm"/>
                    <span class="focus-input100" data-placeholder="Potvrdite lozinku"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Pošalji
                    </button>
                </div>

            </form>
        </div>
    </div>

</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="../static/assets/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/assets/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/animsition/js/animsition.min.js"
        th:src="@{/assets/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/bootstrap/js/popper.js"
        th:src="@{/assets/vendor/bootstrap/js/popper.js}"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/select2/select2.min.js"
        th:src="@{/assets/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/daterangepicker/moment.min.js"
        th:src="@{/assets/vendor/daterangepicker/moment.min.js}"></script>
<script src="../static/assets/vendor/daterangepicker/daterangepicker.js"
        th:src="@{/assets/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/vendor/countdowntime/countdowntime.js"
        th:src="@{/assets/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script src="../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

<script th:inline="javascript">
  const inputReset = $(".validate-input .input100.input-reset-pass");
  const resetToken = [[${token}]];

  function validate(input) {
    if ($(input).attr("name") === "password-confirm") {
      const pass = $("#reset-password");
      return $(input).val() === pass.val();
    }
  }

  $("#reset-password-form").on("submit", function () {
    /*<![CDATA[*/
    let check = true;

    for (let i = 0; i < inputReset.length; i++) {
      if (validate(inputReset[i]) === false) {
        showValidate(inputReset[i]);
        check = false;
      }
    }

    if (check) {
      let values = {};
      $(this)
        .serializeArray()
        .forEach(e => (values[e.name] = e.value));
      delete values["password-confirm"];

      $.ajax({
        url: `/auth/users/reset?token=${resetToken}`,
        method: "POST",
        data: JSON.stringify(values),
        dataType: "json",
        contentType: "application/json; charset=UTF-8",
        statusCode: {
          200: () => {
            window.location.href = "/auth/reset/successful";
          },
          500: jqXHR => {
            console.log(jqXHR);
          }
        }
      });
    }

    return false;
  });
  /*]]>*/
</script>

</body>
</html>
